# Connexion à MongoDB sous `Python`

Nous allons voir dans ce TP comment nous pouvons récupérer des données stockées dans une base [MongoDB](https://www.mongodb.com/), par le biais de la librairie [`pymongo`](https://api.mongodb.com/python/current/). Il faut bien évidemment installer ce module (éventuellement localement). Pour l'utiliser, on l'importer classiquement comme ci-dessous.

In [79]:
import pymongo
import pandas as pd

## Utilisation générale

La première opération est de créer une connexion entre `python` et *MongoDB* en utilisant la fonction `MongoClient()`. Celle-ci prend en paramètre l'adresse du serveur (*IP* et *port*). La commande ci-après permet donc de se connecter au serveur déjà vu en cours précédemment.

In [2]:
con = pymongo.MongoClient("mongodb://193.51.82.104:2343/")

Par le biais de l'objet ainsi créé (`con`), on a accès à la liste des bases de données présentes, avec la fonction `database_name()`.

In [6]:
con.list_database_names()

['admin',
 'config',
 'gym',
 'horodateurs',
 'local',
 'medicaments',
 'test',
 'trafic',
 'vlsstat',
 'world']

Nous allons utiliser la base `gym`. Nous allons créer un connecteur directement à cette base.

In [14]:
db = con.gym

L'objet `db` est doté de différentes fonctions, et permet une utilisation très proche de celle qu'on a dans le `shell` de *MongoDB*. Pour voir la liste des collections présentes, on utilise la fonction `collection_names()`.

In [16]:
db.list_collection_names()

['Sportifs', 'Gymnases']

### Fonctions de base

Ensuite, pour accéder aux collections, et aux fonctions à utiliser dans celle-ci, nous utilisont le même formalisme que dans *MongoDB*.

Nous avons le dénombrement des collections comme suit, avec `count()`.

In [26]:
db.Sportifs.count()

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

150

In [18]:
db.Gymnases.count()

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

28

Pour obtenir le premier document d'une collection, on utilise ici la fonction `find_one()`.

In [29]:
db.Sportifs.find_one()

{'_id': '566eec5f662b388eba464203',
 'IdSportif': 1,
 'Nom': 'BOUTAHAR',
 'Prenom': 'Abderahim',
 'Sexe': 'm',
 'Age': 30,
 'Sports': {'Jouer': ['Volley ball', 'Tennis', 'Football'],
  'Arbitrer': ['Basket ball', 'Volley ball', 'Hockey'],
  'Entrainer': ['Basket ball',
   'Volley ball',
   'Hand ball',
   'Hockey',
   'Badmington']}}

In [31]:
db.Gymnases.find_one()

{'_id': '566eec69662b388eba464299',
 'IdGymnase': 1,
 'NomGymnase': 'PAUL ELUARD',
 'Adresse': '2 rue des pépines',
 'Ville': 'STAINS',
 'Surface': 200,
 'Seances': [{'IdSportifEntraineur': 149,
   'Jour': 'Samedi',
   'Horaire': 9.0,
   'Duree': 60,
   'Libelle': 'Basket ball'},
  {'IdSportifEntraineur': 1,
   'Jour': 'Lundi',
   'Horaire': 9.0,
   'Duree': 60,
   'Libelle': 'Hand ball'},
  {'IdSportifEntraineur': 1,
   'Jour': 'Lundi',
   'Horaire': 10.0,
   'Duree': 60,
   'Libelle': 'Hand ball'},
  {'IdSportifEntraineur': 1,
   'Jour': 'Lundi',
   'Horaire': 11.3,
   'Duree': 60,
   'Libelle': 'Hand ball'},
  {'IdSportifEntraineur': 1,
   'Jour': 'Lundi',
   'Horaire': 14.0,
   'Duree': 90,
   'Libelle': 'Hand ball'},
  {'IdSportifEntraineur': 1,
   'Jour': 'lundi',
   'Horaire': 17.3,
   'Duree': 120,
   'Libelle': 'Hand ball'},
  {'IdSportifEntraineur': 1,
   'Jour': 'Lundi',
   'Horaire': 19.3,
   'Duree': 120,
   'Libelle': 'Hand ball'},
  {'IdSportifEntraineur': 2,
   'Jour': 'Dimanche',
   'Horaire': 17.3,
   'Duree': 120,
   'Libelle': 'Hand ball'},
  {'IdSportifEntraineur': 2,
   'Jour': 'Dimanche',
   'Horaire': 19.3,
   'Duree': 120,
   'Libelle': 'Hand ball'},
  {'IdSportifEntraineur': 2,
   'Jour': 'mardi',
   'Horaire': 17.3,
   'Duree': 120,
   'Libelle': 'Hand ball'},
  {'IdSportifEntraineur': 2,
   'Jour': 'mercredi',
   'Horaire': 17.3,
   'Duree': 120,
   'Libelle': 'Hand ball'},
  {'IdSportifEntraineur': 2,
   'Jour': 'Samedi',
   'Horaire': 15.3,
   'Duree': 60,
   'Libelle': 'Hand ball'},
  {'IdSportifEntraineur': 2,
   'Jour': 'Samedi',
   'Horaire': 16.3,
   'Duree': 60,
   'Libelle': 'Hand ball'},
  {'IdSportifEntraineur': 2,
   'Jour': 'Samedi',
   'Horaire': 17.3,
   'Duree': 120,
   'Libelle': 'Hand ball'},
  {'IdSportifEntraineur': 3,
   'Jour': 'jeudi',
   'Horaire': 20.0,
   'Duree': 30,
   'Libelle': 'Hand ball'},
  {'IdSportifEntraineur': 3,
   'Jour': 'lundi',
   'Horaire': 14.0,
   'Duree': 60,
   'Libelle': 'Hand ball'},
  {'IdSportifEntraineur': 3,
   'Jour': 'lundi',
   'Horaire': 18.0,
   'Duree': 30,
   'Libelle': 'Hand ball'},
  {'IdSportifEntraineur': 3,
   'Jour': 'lundi',
   'Horaire': 19.0,
   'Duree': 30,
   'Libelle': 'Hand ball'},
  {'IdSportifEntraineur': 3,
   'Jour': 'lundi',
   'Horaire': 20.0,
   'Duree': 30,
   'Libelle': 'Hand ball'},
  {'IdSportifEntraineur': 7,
   'Jour': 'mercredi',
   'Horaire': 17.0,
   'Duree': 90,
   'Libelle': 'Hockey'}]}

Et on peut lister les valeurs prises par un champs dans une collection par la fonction `ditinct()`.

In [32]:
db.Sportifs.distinct("Sexe")

['m', 'M', 'F']

In [42]:
db.Sportifs.distinct("Sports.Jouer")

['Football',
 'Tennis',
 'Volley ball',
 'Basket ball',
 'Ping pong',
 'Badmington',
 'Hand ball']

In [43]:
db.Gymnases.distinct("Ville")

['STAINS',
 'MONTMORENCY',
 'PIERREFITTE',
 'SARCELLES',
 'SAINT DENIS',
 'VILLETANEUSE',
 'GARGES']

In [36]:
db.Gymnases.distinct("Surface")

[200, 450, 400, 500, 620, 360, 420, 300, 480, 600, 520, 350]

In [37]:
db.Gymnases.distinct("Seances.Libelle")

['Basket ball', 'Hand ball', 'Hockey', 'Volley ball']

In [47]:
db.Gymnases.distinct("Seances.Jour")

['Dimanche',
 'Lundi',
 'Samedi',
 'jeudi',
 'lundi',
 'mardi',
 'mercredi',
 'dimanche',
 'Mercredi',
 'Vendredi',
 'vendredi',
 'samedi',
 'Mardi',
 'Jeudi']

### Affichage des résultats

Nous l'avons vu précédemment, l'affichage du résultat de la fonction `find_one()` n'est pas totalement lisible. Il est possible d'utiliser la fonction `pprint()` du module `pprint`, normalement installé dès l'installation de `python`. Celle-ci améliore l'affichage, en ajoutant des indentations.

In [48]:
import pprint
pprint.pprint(db.Sportifs.find_one())

{'Age': 30,
 'IdSportif': 1,
 'Nom': 'BOUTAHAR',
 'Prenom': 'Abderahim',
 'Sexe': 'm',
 'Sports': {'Arbitrer': ['Basket ball', 'Volley ball', 'Hockey'],
            'Entrainer': ['Basket ball',
                          'Volley ball',
                          'Hand ball',
                          'Hockey',
                          'Badmington'],
            'Jouer': ['Volley ball', 'Tennis', 'Football']},
 '_id': '566eec5f662b388eba464203'}

Par contre, pour l'utiliser sur le résultat de la fonction `find()` (qui renvoie un curseur, puisqu'il peut y avoir plusieurs documents correspondants), il faut soit faire une boucle sur ce curseur, soit le transformer en `list`.

In [49]:
res = db.Sportifs.find({ "Nom": "KERVADEC" })
print(res)

<pymongo.cursor.Cursor object at 0x0000029FBEAA5278>

In [50]:
print(res.count())

1

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

Voici comment réaliser une boucle sur le résultat pour l'affichage.

In [51]:
for r in res:
    pprint.pprint(r)

{'Age': 28,
 'IdSportif': 2,
 'IdSportifConseiller': 1,
 'Nom': 'KERVADEC',
 'Prenom': 'Yann',
 'Sexe': 'M',
 'Sports': {'Arbitrer': ['Hockey', 'Football'],
            'Entrainer': ['Basket ball',
                          'Volley ball',
                          'Hand ball',
                          'Tennis',
                          'Hockey',
                          'Badmington',
                          'Ping pong',
                          'Boxe'],
            'Jouer': ['Basket ball', 'Volley ball', 'Ping pong', 'Football']},
 '_id': '566eec5f662b388eba464204'}

Et voici un exemple de transformation en `list`. Une fois que le curseur est lu, comme ici dans la boucle, il est vide. Il faut donc le recalculer.

In [52]:
res = db.Sportifs.find({ "Nom": "KERVADEC" })
pprint.pprint(list(res))

[{'Age': 28,
  'IdSportif': 2,
  'IdSportifConseiller': 1,
  'Nom': 'KERVADEC',
  'Prenom': 'Yann',
  'Sexe': 'M',
  'Sports': {'Arbitrer': ['Hockey', 'Football'],
             'Entrainer': ['Basket ball',
                           'Volley ball',
                           'Hand ball',
                           'Tennis',
                           'Hockey',
                           'Badmington',
                           'Ping pong',
                           'Boxe'],
             'Jouer': ['Basket ball', 'Volley ball', 'Ping pong', 'Football']},
  '_id': '566eec5f662b388eba464204'}]

On créé ici une fonction simple, nommée `affichage()`, qui va prendre en paramètre un curseur renvoyé par la fonction `find()` et qui affichera proprement le résultat via `pprint()`.

In [53]:
def affiche(res):
    pprint.pprint(list(res))

Et voici comment utiliser cette fonction.

In [54]:
res = db.Sportifs.find({ "Nom": "KERVADEC" }, { "_id": 0, "Nom": 1 })
affiche(res)

[{'Nom': 'KERVADEC'}]

## Recherche d'informations

Comme nous allons le voir par la suite, nous allons utiliser exactement le même formalisme que dans *MongoDB*, avec la fonction `find()`. Ceci est possible avec l'utilisation de dictionnaires pour les paramètres de critères de sélection des documents et pour les choix d’items des documents à afficher. La seule obligation est de mettre les noms des champs entre `"..."`, alors qu'il était possible de ne pas le faire dans *MongoDB*.

Ici, nous recherchons les sportifs d'au moins 32 ans, en affichant que leur nom et leur âge. On voit ici un effet de `python` sur l'ordre d'affichage des items (ici, dans l'ordre alphabétique - comme toujours dans `python`).

In [57]:
res = db.Sportifs.find({ "Age": { "$gte": 32 } }, { "_id": 0, "Nom": 1, "Age": 1 }) #gte <=
affiche(res)

[{'Age': 32, 'Nom': 'DORLEANS'},
 {'Age': 40, 'Nom': 'RABAHI'},
 {'Age': 32, 'Nom': 'TIZEGHAT'},
 {'Age': 32, 'Nom': 'BAZOUD'},
 {'Age': 39, 'Nom': 'SARRAZIN'},
 {'Age': 40, 'Nom': 'HOUEL'},
 {'Age': 36, 'Nom': 'LEROUX'},
 {'Age': 32, 'Nom': 'BONE'}]

On peut aussi stocker les critères et les choix en sortie dans des variables, pour les utiliser dans `find()`. Ici, nous recherchons les sportives jouant au Basket.

In [58]:
criteres = { "Sports.Jouer" : "Basket ball", "Sexe" : "F" }
sortie = { "_id": 0, "Nom": 1, "Sexe": 1, "Sports.Jouer": 1}
res = db.Sportifs.find(criteres, sortie)
affiche(res)

[{'Nom': 'COMES',
  'Sexe': 'F',
  'Sports': {'Jouer': ['Basket ball',
                       'Volley ball',
                       'Badmington',
                       'Ping pong']}},
 {'Nom': 'RETALDI',
  'Sexe': 'F',
  'Sports': {'Jouer': ['Basket ball',
                       'Volley ball',
                       'Hand ball',
                       'Ping pong']}},
 {'Nom': 'CAILLIOT',
  'Sexe': 'F',
  'Sports': {'Jouer': ['Basket ball', 'Volley ball', 'Ping pong']}},
 {'Nom': 'LEJEUNE',
  'Sexe': 'F',
  'Sports': {'Jouer': ['Basket ball',
                       'Volley ball',
                       'Badmington',
                       'Ping pong']}},
 {'Nom': 'HEDDI',
  'Sexe': 'F',
  'Sports': {'Jouer': ['Basket ball', 'Badmington', 'Ping pong']}},
 {'Nom': 'JOUVE',
  'Sexe': 'F',
  'Sports': {'Jouer': ['Basket ball', 'Ping pong']}},
 {'Nom': 'GUERRAOUI',
  'Sexe': 'F',
  'Sports': {'Jouer': ['Basket ball', 'Ping pong']}},
 {'Nom': 'CLERICE',
  'Sexe': 'F',
  'Sports': {'Jouer': ['Basket ball', 'Badmington', 'Ping pong']}},
 {'Nom': 'MARIE',
  'Sexe': 'F',
  'Sports': {'Jouer': ['Basket ball', 'Hand ball', 'Ping pong']}},
 {'Nom': 'BELZ', 'Sexe': 'F', 'Sports': {'Jouer': 'Basket ball'}}]

Pour le tri, on utilise la fonction `sort()` sur le résultat. Par contre, nous devons ici mettre une liste de critères de tri. Ceux-ci doivent tous être des tuples à deux valeurs : le champ de tri et l'odre choisi (ascendant ou descendant). Pour le spécifier, nous devons utiliser deux valeurs spécifiques du module : `DESCENDING` (pour descendant) et `ASCENDING` (pour ascendant).

Ici, nous reprenons la recherche précédent des sportifs d'au moins 32 ans. Mais le résultat est trié par ordre décroissant sur l'âge, et par ordre alphabétique pour le nom (pour ceux ayant le même âge donc).

In [62]:
res = db.Sportifs.find({ "Age": { "$gte": 32} }, { "_id": 0, "Nom": 1, "Age": 1 })
res_tri = res.sort([ ("Age", pymongo.DESCENDING), ("Nom", pymongo.ASCENDING) ])
affiche(res_tri)

[{'Age': 40, 'Nom': 'HOUEL'},
 {'Age': 40, 'Nom': 'RABAHI'},
 {'Age': 39, 'Nom': 'SARRAZIN'},
 {'Age': 36, 'Nom': 'LEROUX'},
 {'Age': 32, 'Nom': 'BAZOUD'},
 {'Age': 32, 'Nom': 'BONE'},
 {'Age': 32, 'Nom': 'DORLEANS'},
 {'Age': 32, 'Nom': 'TIZEGHAT'}]

## Agrégats

Nous avons aussi la possibilité de calculer des agrégats, avec la fonction `aggregate()`. Celle-ci s'utilise de manière très similaire à celle de *MongoDB*.

Ci-dessous, nous calculons le nombre de gymnases et la surface moyenne de celle-ci. Pour ne pas mettre de critère d'agrégations, nous mettons une chaîne de caractère comme identifiant.

In [59]:
res = db.Gymnases.aggregate([ 
    { "$group": { "_id": "Total", "nb": { "$sum": 1 }, "surfmoy": { "$avg": "$Surface" }}}
])
affiche(res)

[{'_id': 'Total', 'nb': 28, 'surfmoy': 444.2857142857143}]

Pour faire une agrégation sur un critère, on indique le champs toujours avec le symbole `"$"` devant. Nous avons ici, pour chaque ville, le nombre de gymnases et des statistiques simples sur la surface de ceux-ci (totale, moyenne, minimum et maximum).

In [60]:
res = db.Gymnases.aggregate([ 
    { "$group": { 
        "_id": "$Ville", 
        "nb": { "$sum": 1 }, #equivaut à $count
        "surfaceTotale": { "$sum": "$Surface" },
        "surfaceMoyenne": { "$avg": "$Surface" },
        "surfaceMinimum": { "$min": "$Surface" },
        "surfaceMaximum": { "$max": "$Surface" }
    }}
])
affiche(res)

[{'_id': 'SAINT DENIS',
  'nb': 3,
  'surfaceMaximum': 520,
  'surfaceMinimum': 450,
  'surfaceMoyenne': 490.0,
  'surfaceTotale': 1470},
 {'_id': 'STAINS',
  'nb': 6,
  'surfaceMaximum': 400,
  'surfaceMinimum': 200,
  'surfaceMoyenne': 333.3333333333333,
  'surfaceTotale': 2000},
 {'_id': 'MONTMORENCY',
  'nb': 5,
  'surfaceMaximum': 500,
  'surfaceMinimum': 420,
  'surfaceMoyenne': 470.0,
  'surfaceTotale': 2350},
 {'_id': 'GARGES',
  'nb': 1,
  'surfaceMaximum': 400,
  'surfaceMinimum': 400,
  'surfaceMoyenne': 400.0,
  'surfaceTotale': 400},
 {'_id': 'VILLETANEUSE',
  'nb': 3,
  'surfaceMaximum': 620,
  'surfaceMinimum': 350,
  'surfaceMoyenne': 523.3333333333334,
  'surfaceTotale': 1570},
 {'_id': 'PIERREFITTE',
  'nb': 5,
  'surfaceMaximum': 450,
  'surfaceMinimum': 300,
  'surfaceMoyenne': 382.0,
  'surfaceTotale': 1910},
 {'_id': 'SARCELLES',
  'nb': 5,
  'surfaceMaximum': 620,
  'surfaceMinimum': 400,
  'surfaceMoyenne': 548.0,
  'surfaceTotale': 2740}]

Et comme dans *MongoDB*, on peut utiliser les commandes `unwind`, `project` et `sort` pour réaliser des calculs d'agrégats complexes. Ici, nous cherchons le nombre total de séances par jour, ceux-ci étant triés dans l'ordre décroissant du nombre de séances.

In [63]:
res = db.Gymnases.aggregate([
    { "$unwind": "$Seances" }, 
    { "$project": { "Jour": { "$toLower": "$Seances.Jour" } }}, #projet permet de réécrire les documents
    { "$group": { "_id": "$Jour", "nb": { "$sum": 1 }} },
    { "$sort": { "nb": -1 }}
])
affiche(res)

[{'_id': 'lundi', 'nb': 23},
 {'_id': 'dimanche', 'nb': 17},
 {'_id': 'mercredi', 'nb': 13},
 {'_id': 'samedi', 'nb': 9},
 {'_id': 'mardi', 'nb': 8},
 {'_id': 'vendredi', 'nb': 6},
 {'_id': 'jeudi', 'nb': 6}]

## Importation dans un `DataFrame`

Pour pouvoir utiliser les données recherchées, nous pouvons les transformer en `DataFrame` (de type `pandas`). Pour cela, nous les transformons en `list`, puis en `DataFrame`, comme dans l'exemple ci-dessous.

In [64]:
import pandas

res = db.Sportifs.find()
df = pandas.DataFrame(list(res))

Quand on regarde le `DataFrame` obtenu, nous remarquons que pour certains colonnes (`Sports` ici), le contenu est un objet complexe (un dictionnaire en l'occurence ici).

In [30]:
df.head()

,Age,IdSportif,IdSportifConseiller,Nom,Prenom,Sexe,Sports,_id
0,30,1,NaN,BOUTAHAR,Abderahim,m,"{'Entrainer': ['Basket ball', 'Volley ball', '...",566eec5f662b388eba464203
1,28,2,1.0,KERVADEC,Yann,M,"{'Entrainer': ['Basket ball', 'Volley ball', '...",566eec5f662b388eba464204
2,25,3,1.0,HUE,Pascale,F,"{'Entrainer': ['Basket ball', 'Volley ball', '...",566eec5f662b388eba464205
3,32,4,1.0,DORLEANS,Jean-michel,M,"{'Entrainer': ['Basket ball', 'Ping pong', 'Bo...",566eec5f662b388eba464206
4,22,5,1.0,COMES,Sylvie,F,"{'Arbitrer': 'Ping pong', 'Jouer': ['Basket ba...",566eec5f662b388eba464207

Nous récupérons ici le premier sportif dans l'objet `df0`.

In [65]:
df0 = df.loc[0,:]

Avec cet objet, nous accédons aux sports qu'il joue/entraîne/arbitre comme suit.

In [66]:
df0.Sports

{'Jouer': ['Volley ball', 'Tennis', 'Football'],
 'Arbitrer': ['Basket ball', 'Volley ball', 'Hockey'],
 'Entrainer': ['Basket ball',
  'Volley ball',
  'Hand ball',
  'Hockey',
  'Badmington']}

Pour obtenir le tableau des sports joués (par exemple), nous le récupérons avec le code suivant.

In [33]:
df0.Sports["Jouer"]

['Volley ball', 'Tennis', 'Football']

## A faire

Répondre aux questions suivantes

01. Quels sont les sportifs (identifiant, nom et prénom) qui ont entre 20 et 30 ans ?
02. Quels sont les gymnases de "Villetaneuse" ou de "Sarcelles" qui ont une surface de plus de 400 m2 ?
03. Quels sont les sportifs (identifiant et nom) qui pratiquent du hand ball ?
04. Dans quels gymnases et quels jours y a t-il des séances de hand ball ?
05. Dans quels gymnases peut-on jouer au hockey le mercredi apres 15H ?
06. Quels sportifs (identifiant et nom) ne pratiquent aucun sport ?
07. Quels gymnases n'ont pas de séances le dimanche ?
08. Quels gymnases ne proposent que des séances de basket ball ou de volley ball ?
09. Quels sont les entraîneurs qui sont aussi joueurs ?
10. Quels sont les sportifs qui sont des conseillers ?
11. Pour le sportif "Kervadec" quel est le nom de son conseiller ?
12. Quels entraîneurs entraînent du hand ball et du basket ball ?
13. ~~Quels sont les couples de sportifs (identifiant et nom et prénom de chaque) de même age ?~~
14. Quelle est la moyenne d'âge des sportives qui pratiquent du basket ball ?
15. Quels sont les sportifs les plus jeunes ?
16. Quels sont les gymnases de "Stains" ou de "Montmorency" qui ont la plus grande surface ?
17. Quels entraîneurs n'entraînent que du hand ball ou du basket ball ?
18. ~~Quels sont les couples de sportifs (identifiant et nom et prénom de chaque) de même âge avec le même conseiller ?~~
19. Quels sportifs n'ont pas de conseillers ?
20. Pour chaque sportif donner le nombre de sports qu'il arbitre
21. Pour chaque gymnase de Stains donner par jour d'ouverture les horaires des premières et dernières
séances
22. Pour chaque entraîneurs de hand ball quel est le nombre de séances journalières qu'il assure ?
23. Quels sont les gymnases ayant plus de 15 séances le mercredi ?
24. Pour chaque gymnase de Montmorency : quel est le nombre de séances journalières de chaque sport
propose ?
25. Dans quels gymnases et quels jours y a t-il au moins 4 séances de volley ball dans la journée ?

**1. Quels sont les sportifs (identifiant, nom et prénom) qui ont entre 20 et 30 ans ?**

In [88]:
res = db.Sportifs.find({"Age": { "$gte": 20, "$lte": 30 }},
                      {"_id": 0, "IdSportif": 1, "Nom": 1})

affiche(res)

[{'IdSportif': 1, 'Nom': 'BOUTAHAR'},
 {'IdSportif': 2, 'Nom': 'KERVADEC'},
 {'IdSportif': 3, 'Nom': 'HUE'},
 {'IdSportif': 5, 'Nom': 'COMES'},
 {'IdSportif': 6, 'Nom': 'RETALDI'},
 {'IdSportif': 7, 'Nom': 'GOMEZ'},
 {'IdSportif': 9, 'Nom': 'ANTUNES'},
 {'IdSportif': 10, 'Nom': 'BLANDET'},
 {'IdSportif': 11, 'Nom': 'BONNET'},
 {'IdSportif': 12, 'Nom': 'BORREL'},
 {'IdSportif': 13, 'Nom': 'BOYON'},
 {'IdSportif': 14, 'Nom': 'CAILLIOT'},
 {'IdSportif': 15, 'Nom': 'CHAMPENOIS'},
 {'IdSportif': 16, 'Nom': 'COLAS'},
 {'IdSportif': 17, 'Nom': 'COLOMB'},
 {'IdSportif': 18, 'Nom': 'HOSNI'},
 {'IdSportif': 19, 'Nom': 'TESTEMONT'},
 {'IdSportif': 20, 'Nom': 'TIENER'},
 {'IdSportif': 21, 'Nom': 'LE BOUCHER'},
 {'IdSportif': 22, 'Nom': 'LEDUFAUD'},
 {'IdSportif': 23, 'Nom': 'LEGRAND'},
 {'IdSportif': 24, 'Nom': 'LEJEUNE'},
 {'IdSportif': 25, 'Nom': 'MARTORA'},
 {'IdSportif': 26, 'Nom': 'MICHEL'},
 {'IdSportif': 27, 'Nom': 'NIELLEZ'},
 {'IdSportif': 29, 'Nom': 'ROUSSEL'},
 {'IdSportif': 30, 'Nom': 'SCHINK'},
 {'IdSportif': 31, 'Nom': 'STEMPUT'},
 {'IdSportif': 32, 'Nom': 'VAN CAUTER'},
 {'IdSportif': 33, 'Nom': 'RAMPNOUX'},
 {'IdSportif': 34, 'Nom': 'LHERPINIERE'},
 {'IdSportif': 35, 'Nom': 'TANQUE'},
 {'IdSportif': 36, 'Nom': 'DJELOUDANE'},
 {'IdSportif': 37, 'Nom': 'LAZZARI'},
 {'IdSportif': 38, 'Nom': 'VASSEMON'},
 {'IdSportif': 39, 'Nom': 'MOREL'},
 {'IdSportif': 40, 'Nom': 'VALIN'},
 {'IdSportif': 41, 'Nom': 'DELOVINA'},
 {'IdSportif': 42, 'Nom': 'LEHOUX'},
 {'IdSportif': 43, 'Nom': 'MATHIEU'},
 {'IdSportif': 44, 'Nom': 'ADIBO'},
 {'IdSportif': 45, 'Nom': 'CHAVANT'},
 {'IdSportif': 46, 'Nom': 'DAUXIAN'},
 {'IdSportif': 47, 'Nom': 'GROEN'},
 {'IdSportif': 48, 'Nom': 'HEDDI'},
 {'IdSportif': 49, 'Nom': 'JOUVE'},
 {'IdSportif': 50, 'Nom': 'KALOMBO'},
 {'IdSportif': 51, 'Nom': 'LOPEZ'},
 {'IdSportif': 52, 'Nom': 'DANDOIS'},
 {'IdSportif': 53, 'Nom': 'DEMMER'},
 {'IdSportif': 54, 'Nom': 'ELKABBADJ'},
 {'IdSportif': 55, 'Nom': 'FEROLDI'},
 {'IdSportif': 56, 'Nom': 'GUERRAOUI'},
 {'IdSportif': 57, 'Nom': 'BOISSEAU'},
 {'IdSportif': 58, 'Nom': 'GUIGUI'},
 {'IdSportif': 59, 'Nom': 'CLERICE'},
 {'IdSportif': 61, 'Nom': 'LAZARRE'},
 {'IdSportif': 63, 'Nom': 'AMAND'},
 {'IdSportif': 64, 'Nom': 'LANOE'},
 {'IdSportif': 65, 'Nom': 'CHESNIER'},
 {'IdSportif': 66, 'Nom': 'DURIEU'},
 {'IdSportif': 67, 'Nom': 'VONTHRON'},
 {'IdSportif': 68, 'Nom': 'REGNAULD'},
 {'IdSportif': 69, 'Nom': 'MARIE'},
 {'IdSportif': 70, 'Nom': 'BELLAMY'},
 {'IdSportif': 71, 'Nom': 'DELAROCHE'},
 {'IdSportif': 72, 'Nom': 'MARTEL'},
 {'IdSportif': 73, 'Nom': 'DALLIER'},
 {'IdSportif': 74, 'Nom': 'AUVRAY'},
 {'IdSportif': 76, 'Nom': 'HALGATTE'},
 {'IdSportif': 77, 'Nom': 'HEON'},
 {'IdSportif': 78, 'Nom': 'CHAUVIN'},
 {'IdSportif': 79, 'Nom': 'HENRY'},
 {'IdSportif': 80, 'Nom': 'HOCHET'},
 {'IdSportif': 81, 'Nom': 'DROULLON'},
 {'IdSportif': 83, 'Nom': 'LEROUX'},
 {'IdSportif': 84, 'Nom': 'SALLAÏ'},
 {'IdSportif': 85, 'Nom': 'HAMARD'},
 {'IdSportif': 86, 'Nom': 'GALLOT'},
 {'IdSportif': 87, 'Nom': 'COUESBOT'},
 {'IdSportif': 88, 'Nom': 'LEJEUNE'},
 {'IdSportif': 89, 'Nom': 'RIQUIER'},
 {'IdSportif': 90, 'Nom': 'DUREL'},
 {'IdSportif': 91, 'Nom': 'LECHEVALIER'},
 {'IdSportif': 92, 'Nom': 'HERVIEU'},
 {'IdSportif': 93, 'Nom': 'CAUCHARD'},
 {'IdSportif': 95, 'Nom': 'EUSTACHE'},
 {'IdSportif': 96, 'Nom': 'JANY'},
 {'IdSportif': 97, 'Nom': 'BONHOMME'},
 {'IdSportif': 98, 'Nom': 'RICHARD'},
 {'IdSportif': 100, 'Nom': 'LESOIF'},
 {'IdSportif': 101, 'Nom': 'SWERTVAEGER'},
 {'IdSportif': 102, 'Nom': 'DUVAL'},
 {'IdSportif': 103, 'Nom': 'LEMENOREL'},
 {'IdSportif': 104, 'Nom': 'SEHIER'},
 {'IdSportif': 105, 'Nom': 'STILO'},
 {'IdSportif': 106, 'Nom': 'LE BANNARD'},
 {'IdSportif': 107, 'Nom': 'BORNE'},
 {'IdSportif': 108, 'Nom': 'LAURENCE'},
 {'IdSportif': 109, 'Nom': 'SAUVAGE'},
 {'IdSportif': 110, 'Nom': 'ROULLAND'},
 {'IdSportif': 111, 'Nom': 'LESIEUR'},
 {'IdSportif': 112, 'Nom': 'LUYCKX'},
 {'IdSportif': 113, 'Nom': 'AVICE'},
 {'IdSportif': 114, 'Nom': 'MICHEL'},
 {'IdSportif': 115, 'Nom': 'LEMOUSSU'},
 {'IdSportif': 116, 'Nom': 'BELUAU'},
 {'IdSportif': 117, 'Nom': 'FERREIRA'},
 {'IdSportif': 118, 'Nom': 'FROMENT'},
 {'IdSportif': 119, 'Nom': 'GUITON'},
 {'IdSportif': 120, 'Nom': 'LECOMTE'},
 {'IdSportif': 121, 'Nom': 'HUET'},
 {'IdSportif': 122, 'Nom': 'BECQUET'},
 {'IdSportif': 123, 'Nom': 'LETHIMONNIER'},
 {'IdSportif': 124, 'Nom': 'SWERTVAEGER'},
 {'IdSportif': 125, 'Nom': 'JALON'},
 {'IdSportif': 126, 'Nom': 'DEBOUT'},
 {'IdSportif': 127, 'Nom': 'GASTELLIER'},
 {'IdSportif': 128, 'Nom': 'GIRONIE'},
 {'IdSportif': 129, 'Nom': 'DABON'},
 {'IdSportif': 130, 'Nom': 'LECHAUVE'},
 {'IdSportif': 131, 'Nom': 'GALLOIS'},
 {'IdSportif': 132, 'Nom': 'DORON'},
 {'IdSportif': 133, 'Nom': 'LENEVEU'},
 {'IdSportif': 134, 'Nom': 'LERICHE'},
 {'IdSportif': 135, 'Nom': 'MANCEL'},
 {'IdSportif': 136, 'Nom': 'LABOULAIS'},
 {'IdSportif': 137, 'Nom': 'DUDOUIT'},
 {'IdSportif': 138, 'Nom': 'MADELAINE'},
 {'IdSportif': 139, 'Nom': 'BESNARD'},
 {'IdSportif': 140, 'Nom': 'BELZ'},
 {'IdSportif': 141, 'Nom': 'BONNET'},
 {'IdSportif': 142, 'Nom': 'CORNET'},
 {'IdSportif': 143, 'Nom': 'BEUZELIN'},
 {'IdSportif': 144, 'Nom': 'GRANDIDIER'},
 {'IdSportif': 145, 'Nom': 'LENEVEU'},
 {'IdSportif': 146, 'Nom': 'DABON'},
 {'IdSportif': 147, 'Nom': 'CLERICE'},
 {'IdSportif': 148, 'Nom': 'COMES'},
 {'IdSportif': 149, 'Nom': 'BELZ'},
 {'IdSportif': 150, 'Nom': 'BELZ'},
 {'IdSportif': 151, 'Nom': 'HENRY'}]

**2. Quels sont les gymnases de "Villetaneuse" ou de "Sarcelles" qui ont une surface de plus de 400 m2 ?**

In [73]:
res = db.Gymnases.find(
    {
        "Ville": { "$in": [ "VILLETANEUSE", "SARCELLES"]},
        "Surface": { "$gt": 400 }
    },
    {
        "_id": 0,
        "NomGymnase": 1,
        "Ville": 1,
        "Surface": 1
    })
affiche(res)

[{'NomGymnase': 'PAUL ELUARD', 'Surface': 500, 'Ville': 'SARCELLES'},
 {'NomGymnase': 'BRASSENS', 'Surface': 620, 'Ville': 'SARCELLES'},
 {'NomGymnase': 'CAMUS', 'Surface': 620, 'Ville': 'SARCELLES'},
 {'NomGymnase': 'SAMOURAI', 'Surface': 600, 'Ville': 'SARCELLES'},
 {'NomGymnase': 'DOLTO', 'Surface': 620, 'Ville': 'VILLETANEUSE'},
 {'NomGymnase': 'MERMOZ', 'Surface': 600, 'Ville': 'VILLETANEUSE'}]

**3. Quels sont les sportifs (identifiant et nom) qui pratiquent du hand ball ?**

In [77]:
res = db.Sportifs.find({
    "Sports.Jouer": "Hand ball"
    },
    {
        "_id": 0,
        "IdSportif": 1,
        "Nom": 1
    
})

affiche(res)

[{'IdSportif': 6, 'Nom': 'RETALDI'},
 {'IdSportif': 19, 'Nom': 'TESTEMONT'},
 {'IdSportif': 20, 'Nom': 'TIENER'},
 {'IdSportif': 25, 'Nom': 'MARTORA'},
 {'IdSportif': 26, 'Nom': 'MICHEL'},
 {'IdSportif': 27, 'Nom': 'NIELLEZ'},
 {'IdSportif': 28, 'Nom': 'RABAHI'},
 {'IdSportif': 29, 'Nom': 'ROUSSEL'},
 {'IdSportif': 30, 'Nom': 'SCHINK'},
 {'IdSportif': 31, 'Nom': 'STEMPUT'},
 {'IdSportif': 32, 'Nom': 'VAN CAUTER'},
 {'IdSportif': 33, 'Nom': 'RAMPNOUX'},
 {'IdSportif': 34, 'Nom': 'LHERPINIERE'},
 {'IdSportif': 35, 'Nom': 'TANQUE'},
 {'IdSportif': 38, 'Nom': 'VASSEMON'},
 {'IdSportif': 39, 'Nom': 'MOREL'},
 {'IdSportif': 40, 'Nom': 'VALIN'},
 {'IdSportif': 43, 'Nom': 'MATHIEU'},
 {'IdSportif': 51, 'Nom': 'LOPEZ'},
 {'IdSportif': 60, 'Nom': 'TIZEGHAT'},
 {'IdSportif': 67, 'Nom': 'VONTHRON'},
 {'IdSportif': 68, 'Nom': 'REGNAULD'},
 {'IdSportif': 69, 'Nom': 'MARIE'},
 {'IdSportif': 72, 'Nom': 'MARTEL'},
 {'IdSportif': 75, 'Nom': 'SARRAZIN'},
 {'IdSportif': 83, 'Nom': 'LEROUX'},
 {'IdSportif': 84, 'Nom': 'SALLAÏ'},
 {'IdSportif': 89, 'Nom': 'RIQUIER'},
 {'IdSportif': 94, 'Nom': 'LEROUX'},
 {'IdSportif': 98, 'Nom': 'RICHARD'},
 {'IdSportif': 100, 'Nom': 'LESOIF'},
 {'IdSportif': 101, 'Nom': 'SWERTVAEGER'},
 {'IdSportif': 104, 'Nom': 'SEHIER'},
 {'IdSportif': 105, 'Nom': 'STILO'},
 {'IdSportif': 109, 'Nom': 'SAUVAGE'},
 {'IdSportif': 110, 'Nom': 'ROULLAND'},
 {'IdSportif': 111, 'Nom': 'LESIEUR'},
 {'IdSportif': 112, 'Nom': 'LUYCKX'},
 {'IdSportif': 114, 'Nom': 'MICHEL'},
 {'IdSportif': 123, 'Nom': 'LETHIMONNIER'},
 {'IdSportif': 124, 'Nom': 'SWERTVAEGER'},
 {'IdSportif': 135, 'Nom': 'MANCEL'},
 {'IdSportif': 138, 'Nom': 'MADELAINE'},
 {'IdSportif': 151, 'Nom': 'HENRY'}]

**4. Dans quels gymnases et quels jours y a t-il des séances de hand ball ?**

In [103]:
res = db.Gymnases.find(
    {
        "Seances.Libelle": "Hand ball"
    },
    {
        "_id": 0,
        "NomGymnase": 1,
        "Ville": 1,
        "Seances.Jour": 1,
        "Seances.Libelle": 1
    }
)
affiche(res)

[{'NomGymnase': 'PAUL ELUARD',
  'Seances': [{'Jour': 'Samedi', 'Libelle': 'Basket ball'},
              {'Jour': 'Lundi', 'Libelle': 'Hand ball'},
              {'Jour': 'Lundi', 'Libelle': 'Hand ball'},
              {'Jour': 'Lundi', 'Libelle': 'Hand ball'},
              {'Jour': 'Lundi', 'Libelle': 'Hand ball'},
              {'Jour': 'lundi', 'Libelle': 'Hand ball'},
              {'Jour': 'Lundi', 'Libelle': 'Hand ball'},
              {'Jour': 'Dimanche', 'Libelle': 'Hand ball'},
              {'Jour': 'Dimanche', 'Libelle': 'Hand ball'},
              {'Jour': 'mardi', 'Libelle': 'Hand ball'},
              {'Jour': 'mercredi', 'Libelle': 'Hand ball'},
              {'Jour': 'Samedi', 'Libelle': 'Hand ball'},
              {'Jour': 'Samedi', 'Libelle': 'Hand ball'},
              {'Jour': 'Samedi', 'Libelle': 'Hand ball'},
              {'Jour': 'jeudi', 'Libelle': 'Hand ball'},
              {'Jour': 'lundi', 'Libelle': 'Hand ball'},
              {'Jour': 'lundi', 'Libelle': 'Hand ball'},
              {'Jour': 'lundi', 'Libelle': 'Hand ball'},
              {'Jour': 'lundi', 'Libelle': 'Hand ball'},
              {'Jour': 'mercredi', 'Libelle': 'Hockey'}],
  'Ville': 'STAINS'},
 {'NomGymnase': 'GARCIA LORCA',
  'Seances': [{'Jour': 'samedi', 'Libelle': 'Volley ball'},
              {'Jour': 'vendredi', 'Libelle': 'Volley ball'},
              {'Jour': 'dimanche', 'Libelle': 'Volley ball'},
              {'Jour': 'dimanche', 'Libelle': 'Hand ball'},
              {'Jour': 'mardi', 'Libelle': 'Hand ball'},
              {'Jour': 'mardi', 'Libelle': 'Hockey'}],
  'Ville': 'STAINS'}]

In [101]:
# **Problème** d'affichage des jours

res = db.Gymnases.aggregate([
    { "$unwind" : "$Seances" },
    { "$match": { "Seances.Libelle" : "Hand ball" }},
    { "$group": {
        "_id": { 
            "Nom": "$Gymnase", 
            "Ville": "$Ville", 
            "Jour": { "$toLower": "$Seances.Jour"} 
        },
        "nb": { "$sum": 1 }
    }},
    { "$sort": {
        "_id.Ville": 1,
        "_id.Nom": 1,
        "nb": -1
    }}
])

affiche(res)

[{'_id': {'Jour': 'lundi', 'Ville': 'STAINS'}, 'nb': 10},
 {'_id': {'Jour': 'samedi', 'Ville': 'STAINS'}, 'nb': 3},
 {'_id': {'Jour': 'dimanche', 'Ville': 'STAINS'}, 'nb': 3},
 {'_id': {'Jour': 'mardi', 'Ville': 'STAINS'}, 'nb': 2},
 {'_id': {'Jour': 'jeudi', 'Ville': 'STAINS'}, 'nb': 1},
 {'_id': {'Jour': 'mercredi', 'Ville': 'STAINS'}, 'nb': 1}]

In [108]:
# ou 
res = db.Gymnases.aggregate([
    { "$unwind": "$Seances" },
    { "$match": { "Seances.Libelle": "Hand ball" }},
    { "$group": {
        "_id": { "Ville": "$Ville", "Gymnase": "$NomGymnase" },
        "Jours": { "$addToSet": { "$toLower": "$Seances.Jour" } }
    }}
])
affiche(res)

[{'Jours': ['mardi', 'dimanche'],
  '_id': {'Gymnase': 'GARCIA LORCA', 'Ville': 'STAINS'}},
 {'Jours': ['jeudi', 'samedi', 'lundi', 'dimanche', 'mercredi', 'mardi'],
  '_id': {'Gymnase': 'PAUL ELUARD', 'Ville': 'STAINS'}}]

**5. Dans quels gymnases peut-on jouer au hockey le mercredi apres 15H ?**

In [105]:
res = db.Gymnases.find(
    {
        "Seances.Libelle": "Hockey",
        "Seances.Jour" : { "$in": [ "mercredi", "Mercredi" ]},
        "Seances.Horaire": { "$gte" : 15 }
    },
    {
        "_id": 0,
        "NomGymnase": 1,
        "Ville": 1,
        "Seances.Jour": 1,
        "Seances.Libelle": 1,
        "Seances.Horaire": 1
    }
)

affiche(res)

[{'NomGymnase': 'PAUL ELUARD',
  'Seances': [{'Horaire': 9.0, 'Jour': 'Samedi', 'Libelle': 'Basket ball'},
              {'Horaire': 9.0, 'Jour': 'Lundi', 'Libelle': 'Hand ball'},
              {'Horaire': 10.0, 'Jour': 'Lundi', 'Libelle': 'Hand ball'},
              {'Horaire': 11.3, 'Jour': 'Lundi', 'Libelle': 'Hand ball'},
              {'Horaire': 14.0, 'Jour': 'Lundi', 'Libelle': 'Hand ball'},
              {'Horaire': 17.3, 'Jour': 'lundi', 'Libelle': 'Hand ball'},
              {'Horaire': 19.3, 'Jour': 'Lundi', 'Libelle': 'Hand ball'},
              {'Horaire': 17.3, 'Jour': 'Dimanche', 'Libelle': 'Hand ball'},
              {'Horaire': 19.3, 'Jour': 'Dimanche', 'Libelle': 'Hand ball'},
              {'Horaire': 17.3, 'Jour': 'mardi', 'Libelle': 'Hand ball'},
              {'Horaire': 17.3, 'Jour': 'mercredi', 'Libelle': 'Hand ball'},
              {'Horaire': 15.3, 'Jour': 'Samedi', 'Libelle': 'Hand ball'},
              {'Horaire': 16.3, 'Jour': 'Samedi', 'Libelle': 'Hand ball'},
              {'Horaire': 17.3, 'Jour': 'Samedi', 'Libelle': 'Hand ball'},
              {'Horaire': 20.0, 'Jour': 'jeudi', 'Libelle': 'Hand ball'},
              {'Horaire': 14.0, 'Jour': 'lundi', 'Libelle': 'Hand ball'},
              {'Horaire': 18.0, 'Jour': 'lundi', 'Libelle': 'Hand ball'},
              {'Horaire': 19.0, 'Jour': 'lundi', 'Libelle': 'Hand ball'},
              {'Horaire': 20.0, 'Jour': 'lundi', 'Libelle': 'Hand ball'},
              {'Horaire': 17.0, 'Jour': 'mercredi', 'Libelle': 'Hockey'}],
  'Ville': 'STAINS'},
 {'NomGymnase': 'PAUL ELUARD',
  'Seances': [{'Horaire': 10.0, 'Jour': 'Vendredi', 'Libelle': 'Basket ball'},
              {'Horaire': 19.0, 'Jour': 'mercredi', 'Libelle': 'Hockey'}],
  'Ville': 'SARCELLES'},
 {'NomGymnase': 'RAVEL',
  'Seances': [{'Horaire': 19.0, 'Jour': 'dimanche', 'Libelle': 'Volley ball'},
              {'Horaire': 20.0, 'Jour': 'mercredi', 'Libelle': 'Hockey'},
              {'Horaire': 17.0, 'Jour': 'lundi', 'Libelle': 'Hockey'}],
  'Ville': 'STAINS'},
 {'NomGymnase': 'SAMOURAI',
  'Seances': [{'Horaire': 16.3, 'Jour': 'lundi', 'Libelle': 'Volley ball'},
              {'Horaire': 17.0, 'Jour': 'Lundi', 'Libelle': 'Volley ball'},
              {'Horaire': 18.0, 'Jour': 'Lundi', 'Libelle': 'Volley ball'},
              {'Horaire': 19.0, 'Jour': 'lundi', 'Libelle': 'Volley ball'},
              {'Horaire': 20.0, 'Jour': 'Lundi', 'Libelle': 'Volley ball'},
              {'Horaire': 19.0, 'Jour': 'mercredi', 'Libelle': 'Hockey'}],
  'Ville': 'SARCELLES'},
 {'NomGymnase': 'PABLO NERUDA',
  'Seances': [{'Horaire': 16.3, 'Jour': 'lundi', 'Libelle': 'Volley ball'},
              {'Horaire': 19.0, 'Jour': 'mardi', 'Libelle': 'Volley ball'},
              {'Horaire': 14.0, 'Jour': 'mercredi', 'Libelle': 'Hockey'},
              {'Horaire': 16.0, 'Jour': 'mercredi', 'Libelle': 'Hockey'}],
  'Ville': 'PIERREFITTE'},
 {'NomGymnase': 'LUMIERES',
  'Seances': [{'Horaire': 19.0, 'Jour': 'mercredi', 'Libelle': 'Hockey'}],
  'Ville': 'SARCELLES'},
 {'NomGymnase': 'SIMON',
  'Seances': [{'Horaire': 16.3, 'Jour': 'lundi', 'Libelle': 'Volley ball'},
              {'Horaire': 19.0, 'Jour': 'mardi', 'Libelle': 'Volley ball'},
              {'Horaire': 17.0, 'Jour': 'mercredi', 'Libelle': 'Hockey'}],
  'Ville': 'STAINS'},
 {'NomGymnase': 'PASCAL',
  'Seances': [{'Horaire': 10.0, 'Jour': 'jeudi', 'Libelle': 'Volley ball'},
              {'Horaire': 14.0, 'Jour': 'mercredi', 'Libelle': 'Hockey'},
              {'Horaire': 17.0, 'Jour': 'mercredi', 'Libelle': 'Hockey'}],
  'Ville': 'VILLETANEUSE'}]

In [106]:
# **Problème** de sélection (visible si on fait `$lte`)
list(db.Gymnases.aggregate([
    { "$unwind": "$Seances" },
    { "$match": {
        "Seances.Libelle" : "Hockey",
        "Seances.Jour": { "$in": [ "mercredi", "Mercredi" ]},
        "Seances.Horaire": { "$gte": 15 }
    }},
    { "$project": {
        "_id": 0,
        "Gymnase" : "$NomGymnase", 
        "Ville" : "$Ville"
    }},
    { "$sort": {
        "Ville": 1,
        "Gymnase": 1
    }}
]))

[{'Gymnase': 'PABLO NERUDA', 'Ville': 'PIERREFITTE'},
 {'Gymnase': 'LUMIERES', 'Ville': 'SARCELLES'},
 {'Gymnase': 'PAUL ELUARD', 'Ville': 'SARCELLES'},
 {'Gymnase': 'SAMOURAI', 'Ville': 'SARCELLES'},
 {'Gymnase': 'PAUL ELUARD', 'Ville': 'STAINS'},
 {'Gymnase': 'RAVEL', 'Ville': 'STAINS'},
 {'Gymnase': 'SIMON', 'Ville': 'STAINS'},
 {'Gymnase': 'PASCAL', 'Ville': 'VILLETANEUSE'}]

**6. Quels sportifs (identifiant et nom) ne pratiquent aucun sport ?**

In [109]:
list(db.Sportifs.find(
    {
        "Sports" : { "$exists" : False }
    },
    {
        "_id": 0,
        "Nom":  1
    }
))

[{'Nom': 'DROULLON'},
 {'Nom': 'BELUAU'},
 {'Nom': 'FERREIRA'},
 {'Nom': 'GALLOIS'},
 {'Nom': 'LENEVEU'},
 {'Nom': 'DABON'},
 {'Nom': 'CLERICE'},
 {'Nom': 'COMES'},
 {'Nom': 'BELZ'}]

**7. Quels gymnases n'ont pas de séances le dimanche ?**

In [110]:
list(db.Gymnases.find(
    {
        "Seances.Jour" : { "$nin" : [ "dimanche", "Dimanche" ]}
    },
    {
        "_id": 0,
        "NomGymnase": 1,
        "Ville": 1,
        "Seances.Jour": 1
    }
))

[{'NomGymnase': 'SAINT EXUPERY',
  'Ville': 'PIERREFITTE',
  'Seances': [{'Jour': 'Mercredi'}, {'Jour': 'lundi'}, {'Jour': 'jeudi'}]},
 {'NomGymnase': 'PAUL ELUARD',
  'Ville': 'SARCELLES',
  'Seances': [{'Jour': 'Vendredi'}, {'Jour': 'mercredi'}]},
 {'NomGymnase': 'BRASSENS',
  'Ville': 'SARCELLES',
  'Seances': [{'Jour': 'lundi'}, {'Jour': 'jeudi'}]},
 {'NomGymnase': 'VERLAINE',
  'Ville': 'STAINS',
  'Seances': [{'Jour': 'vendredi'}, {'Jour': 'jeudi'}]},
 {'NomGymnase': 'JULES FERRY', 'Ville': 'PIERREFITTE'},
 {'NomGymnase': 'CAMUS',
  'Ville': 'SARCELLES',
  'Seances': [{'Jour': 'samedi'}]},
 {'NomGymnase': 'LAMARTINE', 'Ville': 'PIERREFITTE'},
 {'NomGymnase': 'BREL',
  'Ville': 'PIERREFITTE',
  'Seances': [{'Jour': 'lundi'}]},
 {'NomGymnase': 'SAMOURAI',
  'Ville': 'SARCELLES',
  'Seances': [{'Jour': 'lundi'},
   {'Jour': 'Lundi'},
   {'Jour': 'Lundi'},
   {'Jour': 'lundi'},
   {'Jour': 'Lundi'},
   {'Jour': 'mercredi'}]},
 {'NomGymnase': 'PABLO NERUDA',
  'Ville': 'PIERREFITTE',
  'Seances': [{'Jour': 'lundi'},
   {'Jour': 'mardi'},
   {'Jour': 'mercredi'},
   {'Jour': 'mercredi'}]},
 {'NomGymnase': 'LUMIERES',
  'Ville': 'SARCELLES',
  'Seances': [{'Jour': 'mercredi'}]},
 {'NomGymnase': 'SIMON',
  'Ville': 'STAINS',
  'Seances': [{'Jour': 'lundi'}, {'Jour': 'mardi'}, {'Jour': 'mercredi'}]},
 {'NomGymnase': 'BARBARA',
  'Ville': 'SAINT DENIS',
  'Seances': [{'Jour': 'mardi'}]},
 {'NomGymnase': 'ARAGON', 'Ville': 'SAINT DENIS'},
 {'NomGymnase': 'BELFEGOR',
  'Ville': 'SAINT DENIS',
  'Seances': [{'Jour': 'Jeudi'}, {'Jour': 'mercredi'}]},
 {'NomGymnase': 'MERMOZ', 'Ville': 'VILLETANEUSE'},
 {'NomGymnase': 'PASCAL',
  'Ville': 'VILLETANEUSE',
  'Seances': [{'Jour': 'jeudi'}, {'Jour': 'mercredi'}, {'Jour': 'mercredi'}]}]

**8. Quels gymnases ne proposent que des séances de basket ball ou de volley ball ?**

In [111]:
list(db.Gymnases.find(
    {
        "$nor": [
            { "Seances.Libelle": { "$ne": "Basket ball" }},
            { "Seances.Libelle": { "$ne": "Volley ball" }}
        ]
    },
    {
        "_id": 0,
        "NomGymnase": 1,
        "Ville": 1,
        "Seances.Libelle": 1
    }
))

[{'NomGymnase': 'SAINT EXUPERY',
  'Ville': 'PIERREFITTE',
  'Seances': [{'Libelle': 'Basket ball'},
   {'Libelle': 'Volley ball'},
   {'Libelle': 'Volley ball'}]},
 {'NomGymnase': 'CHOPIN',
  'Ville': 'MONTMORENCY',
  'Seances': [{'Libelle': 'Basket ball'}, {'Libelle': 'Volley ball'}]},
 {'NomGymnase': 'BELFEGOR',
  'Ville': 'SAINT DENIS',
  'Seances': [{'Libelle': 'Basket ball'}, {'Libelle': 'Volley ball'}]}]

**9. Quels sont les entraîneurs qui sont aussi joueurs ?**

In [112]:
list(db.Sportifs.find(
    {
        "Sports.Jouer" : { "$exists" : True },
        "Sports.Entrainer" : { "$exists" : True }
    },
    {
        "_id": 0,
        "Nom":  1
    }
))

[{'Nom': 'BOUTAHAR'},
 {'Nom': 'KERVADEC'},
 {'Nom': 'HUE'},
 {'Nom': 'DORLEANS'},
 {'Nom': 'RETALDI'},
 {'Nom': 'GOMEZ'},
 {'Nom': 'ROUSSEL'},
 {'Nom': 'SCHINK'},
 {'Nom': 'STEMPUT'},
 {'Nom': 'VAN CAUTER'},
 {'Nom': 'TANQUE'},
 {'Nom': 'DJELOUDANE'},
 {'Nom': 'VASSEMON'},
 {'Nom': 'VALIN'},
 {'Nom': 'HEDDI'},
 {'Nom': 'KALOMBO'},
 {'Nom': 'GUERRAOUI'},
 {'Nom': 'BOISSEAU'},
 {'Nom': 'GUIGUI'},
 {'Nom': 'CLERICE'},
 {'Nom': 'TIZEGHAT'},
 {'Nom': 'LAZARRE'},
 {'Nom': 'BELZ'},
 {'Nom': 'HENRY'}]

**10. Quels sont les sportifs qui sont des conseillers ?**

In [113]:
list(db.Sportifs.find(
    {
        "IdSportif": { "$in": db.Sportifs.distinct("IdSportifConseiller")}
    },
    {
        "_id": 0,
        "Nom":  1
    }
))

[{'Nom': 'BOUTAHAR'},
 {'Nom': 'KERVADEC'},
 {'Nom': 'HUE'},
 {'Nom': 'DORLEANS'},
 {'Nom': 'COMES'},
 {'Nom': 'RETALDI'},
 {'Nom': 'GOMEZ'},
 {'Nom': 'ANTUNES'},
 {'Nom': 'CAILLIOT'},
 {'Nom': 'LE BOUCHER'},
 {'Nom': 'ADIBO'},
 {'Nom': 'RICHARD'}]

**11. Pour le sportif "Kervadec" quel est le nom de son conseiller ?**

In [114]:
list(db.Sportifs.find(
    {
        "IdSportif": list(db.Sportifs.find({ "Nom": "KERVADEC" }))[0]["IdSportifConseiller"]
    },
    {
        "_id": 0,
        "Sports": 0
    }
))

[{'IdSportif': 1,
  'Nom': 'BOUTAHAR',
  'Prenom': 'Abderahim',
  'Sexe': 'm',
  'Age': 30}]

**12. Quels entraîneurs entraînent du hand ball et du basket ball ?**

In [115]:
list(db.Sportifs.find(
    {
        "Sports.Entrainer": "Hand ball", 
        "Sports.Entrainer": "Basket ball" 
    },
    {
        "_id": 0,
        "Nom": 1,
        "Sports.Entrainer": 1
    }
))

[{'Nom': 'BOUTAHAR',
  'Sports': {'Entrainer': ['Basket ball',
    'Volley ball',
    'Hand ball',
    'Hockey',
    'Badmington']}},
 {'Nom': 'KERVADEC',
  'Sports': {'Entrainer': ['Basket ball',
    'Volley ball',
    'Hand ball',
    'Tennis',
    'Hockey',
    'Badmington',
    'Ping pong',
    'Boxe']}},
 {'Nom': 'HUE',
  'Sports': {'Entrainer': ['Basket ball',
    'Volley ball',
    'Hand ball',
    'Badmington']}},
 {'Nom': 'DORLEANS',
  'Sports': {'Entrainer': ['Basket ball', 'Ping pong', 'Boxe']}},
 {'Nom': 'BELZ', 'Sports': {'Entrainer': 'Basket ball'}},
 {'Nom': 'HENRY', 'Sports': {'Entrainer': ['Basket ball', 'Hand ball']}}]

In [117]:
list(db.Sportifs.find(
    {
        "$and": [
            { "Sports.Entrainer": "Hand ball" }, 
            { "Sports.Entrainer": "Basket ball" }
        ]        
    },
    {
        "_id": 0,
        "Nom": 1,
        "Sports.Entrainer": 1
    }
))

[{'Nom': 'BOUTAHAR',
  'Sports': {'Entrainer': ['Basket ball',
    'Volley ball',
    'Hand ball',
    'Hockey',
    'Badmington']}},
 {'Nom': 'KERVADEC',
  'Sports': {'Entrainer': ['Basket ball',
    'Volley ball',
    'Hand ball',
    'Tennis',
    'Hockey',
    'Badmington',
    'Ping pong',
    'Boxe']}},
 {'Nom': 'HUE',
  'Sports': {'Entrainer': ['Basket ball',
    'Volley ball',
    'Hand ball',
    'Badmington']}},
 {'Nom': 'HENRY', 'Sports': {'Entrainer': ['Basket ball', 'Hand ball']}}]

**13. ~~Quels sont les couples de sportifs (identifiant et nom et prénom de chaque) de même age ?~~**

**14. Quelle est la moyenne d'âge des sportives qui pratiquent du basket ball ?**

In [118]:
list(db.Sportifs.aggregate([
    { "$match": { "Sports.Jouer": "Basket ball", "Sexe": { "$in": [ "f", "F" ]} }},
    { "$group": { "_id": None, "AgeMoyen": { "$avg": "$Age" }}}
]))

[{'_id': None, 'AgeMoyen': 24.6}]

**15. Quels sont les sportifs les plus jeunes ?**

In [119]:
# On stocke le résultat de l'aggrégation dans une variable.
agemin = list(db.Sportifs.aggregate([ 
    { "$group": { "_id": None, "agemin": { "$min": "$Age" } } } 
]))[0]
agemin

{'_id': None, 'agemin': 22}

In [120]:
# On cherche les sportifs avec `Age = agemin.agemin`.
list(db.Sportifs.find(
    {
        "Age": agemin["agemin"]
    },
    {
        "_id": 0,
        "Nom": 1,
        "Age": 1
    }
))

[{'Nom': 'COMES', 'Age': 22},
 {'Nom': 'BOYON', 'Age': 22},
 {'Nom': 'COLOMB', 'Age': 22},
 {'Nom': 'LE BOUCHER', 'Age': 22},
 {'Nom': 'ROUSSEL', 'Age': 22},
 {'Nom': 'STEMPUT', 'Age': 22},
 {'Nom': 'DELOVINA', 'Age': 22},
 {'Nom': 'KALOMBO', 'Age': 22},
 {'Nom': 'DANDOIS', 'Age': 22},
 {'Nom': 'DEMMER', 'Age': 22},
 {'Nom': 'MARTEL', 'Age': 22},
 {'Nom': 'HERVIEU', 'Age': 22},
 {'Nom': 'MICHEL', 'Age': 22}]

**16. Quels sont les gymnases de "Stains" ou de "Montmorency" qui ont la plus grande surface ?**

In [121]:
# On peut chercher les plus grands gymnases de chaque ville. 
grand = list(db.Gymnases.aggregate([
    { "$group": { "_id": "$Ville", "surfmax": { "$max": "$Surface" }} }
]))
grand

[{'_id': 'SAINT DENIS', 'surfmax': 520},
 {'_id': 'STAINS', 'surfmax': 400},
 {'_id': 'MONTMORENCY', 'surfmax': 500},
 {'_id': 'GARGES', 'surfmax': 400},
 {'_id': 'VILLETANEUSE', 'surfmax': 620},
 {'_id': 'PIERREFITTE', 'surfmax': 450},
 {'_id': 'SARCELLES', 'surfmax': 620}]

**17. Quels entraîneurs n'entraînent que du hand ball ou du basket ball ?**

In [122]:
# On récupère la liste des sports entraînés.
sports = db.Sportifs.distinct("Sports.Entrainer")
sports

['Badmington',
 'Basket ball',
 'Hand ball',
 'Hockey',
 'Volley ball',
 'Boxe',
 'Ping pong',
 'Tennis']

In [123]:
# On fait un filtre pour supprimer le hand et le basket.
autres = list(filter(lambda s: (s != "Hand ball") & (s != "Basket ball"), sports))
autres

['Badmington', 'Hockey', 'Volley ball', 'Boxe', 'Ping pong', 'Tennis']

In [124]:
# On cherche ceux qui entraîne l'un ou l'autre, mais pas d'autres sports.
list(db.Sportifs.find(
    {
        "$and": [
            { "$or": [
                { "Sports.Entrainer": "Hand ball" },
                { "Sports.Entrainer": "Basket ball" }
            ] },
            { "Sports.Entrainer" : { "$nin" : autres }}
        ]
    },
    {
        "_id": 0,
        "Nom": 1,
        "Sports.Entrainer": 1
    }
))

[{'Nom': 'BELZ', 'Sports': {'Entrainer': 'Basket ball'}},
 {'Nom': 'HENRY', 'Sports': {'Entrainer': ['Basket ball', 'Hand ball']}}]

**18. ~~Quels sont les couples de sportifs (identifiant et nom et prénom de chaque) de même âge avec le même conseiller ?~~**

**19. Quels sportifs n'ont pas de conseillers ?**

In [125]:
list(db.Sportifs.find(
    {
        "IdSportifConseiller": { "$exists": False }
    },
    {
        "_id": 0,
        "Nom": 1
    }
))

[{'Nom': 'BOUTAHAR'},
 {'Nom': 'CHAVANT'},
 {'Nom': 'CLERICE'},
 {'Nom': 'CHESNIER'},
 {'Nom': 'CHAUVIN'},
 {'Nom': 'RIQUIER'},
 {'Nom': 'BONHOMME'},
 {'Nom': 'BONE'}]

**20. Pour chaque sportif donner le nombre de sports qu'il arbitre**

In [126]:
list(db.Sportifs.aggregate([
    { "$match": { "Sports.Arbitrer": { "$exists": True }}},
    { "$unwind": "$Sports.Arbitrer"},
    { "$group": { "_id": "$Nom", "nbArbitrer": { "$sum": 1 }}}
]))

[{'_id': 'STILO', 'nbArbitrer': 1},
 {'_id': 'RICHARD', 'nbArbitrer': 1},
 {'_id': 'LEROUX', 'nbArbitrer': 1},
 {'_id': 'TIZEGHAT', 'nbArbitrer': 1},
 {'_id': 'CLERICE', 'nbArbitrer': 1},
 {'_id': 'TANQUE', 'nbArbitrer': 1},
 {'_id': 'DORLEANS', 'nbArbitrer': 4},
 {'_id': 'ROUSSEL', 'nbArbitrer': 1},
 {'_id': 'BELZ', 'nbArbitrer': 1},
 {'_id': 'COMES', 'nbArbitrer': 1},
 {'_id': 'HUE', 'nbArbitrer': 3},
 {'_id': 'RETALDI', 'nbArbitrer': 3},
 {'_id': 'KERVADEC', 'nbArbitrer': 2},
 {'_id': 'GOMEZ', 'nbArbitrer': 3},
 {'_id': 'VAN CAUTER', 'nbArbitrer': 1},
 {'_id': 'BOUTAHAR', 'nbArbitrer': 3},
 {'_id': 'TESTEMONT', 'nbArbitrer': 1},
 {'_id': 'HENRY', 'nbArbitrer': 2},
 {'_id': 'TIENER', 'nbArbitrer': 1}]

**21. Pour chaque gymnase de Stains donner par jour d'ouverture les horaires des premières et dernières séances**

In [127]:
list(db.Gymnases.aggregate([
    { "$match": { "Ville": "STAINS" } },
    { "$unwind": "$Seances" },
    { "$project": { "nom": "$NomGymnase", "jour": { "$toLower": "$Seances.Jour" }, "h": "$Seances.Horaire"}},
    { "$group": { "_id": { "nom": "$nom", "jour": "$jour" }, "debut": { "$min": "$h"}, "fin": { "$max": "$h" }}}
]))

[{'_id': {'nom': 'SIMON', 'jour': 'mardi'}, 'debut': 19.0, 'fin': 19.0},
 {'_id': {'nom': 'SIMON', 'jour': 'lundi'}, 'debut': 16.3, 'fin': 16.3},
 {'_id': {'nom': 'SIMON', 'jour': 'mercredi'}, 'debut': 17.0, 'fin': 17.0},
 {'_id': {'nom': 'GARCIA LORCA', 'jour': 'mardi'}, 'debut': 17.0, 'fin': 20.0},
 {'_id': {'nom': 'GARCIA LORCA', 'jour': 'dimanche'},
  'debut': 17.0,
  'fin': 18.0},
 {'_id': {'nom': 'GARCIA LORCA', 'jour': 'samedi'},
  'debut': 17.3,
  'fin': 17.3},
 {'_id': {'nom': 'RAVEL', 'jour': 'lundi'}, 'debut': 17.0, 'fin': 17.0},
 {'_id': {'nom': 'RAVEL', 'jour': 'dimanche'}, 'debut': 19.0, 'fin': 19.0},
 {'_id': {'nom': 'PAUL ELUARD', 'jour': 'dimanche'},
  'debut': 17.3,
  'fin': 19.3},
 {'_id': {'nom': 'PAUL ELUARD', 'jour': 'jeudi'}, 'debut': 20.0, 'fin': 20.0},
 {'_id': {'nom': 'PAUL ELUARD', 'jour': 'mardi'}, 'debut': 17.3, 'fin': 17.3},
 {'_id': {'nom': 'PAUL ELUARD', 'jour': 'lundi'}, 'debut': 9.0, 'fin': 20.0},
 {'_id': {'nom': 'PAUL ELUARD', 'jour': 'mercredi'},
  'debut': 17.0,
  'fin': 17.3},
 {'_id': {'nom': 'VERLAINE', 'jour': 'vendredi'}, 'debut': 19.0, 'fin': 19.0},
 {'_id': {'nom': 'VERLAINE', 'jour': 'jeudi'}, 'debut': 17.0, 'fin': 17.0},
 {'_id': {'nom': 'RIMBAUD', 'jour': 'samedi'}, 'debut': 19.0, 'fin': 19.0},
 {'_id': {'nom': 'GARCIA LORCA', 'jour': 'vendredi'},
  'debut': 17.3,
  'fin': 17.3},
 {'_id': {'nom': 'RAVEL', 'jour': 'mercredi'}, 'debut': 20.0, 'fin': 20.0},
 {'_id': {'nom': 'PAUL ELUARD', 'jour': 'samedi'}, 'debut': 9.0, 'fin': 17.3},
 {'_id': {'nom': 'RIMBAUD', 'jour': 'dimanche'}, 'debut': 17.0, 'fin': 19.0}]

**22. Pour chaque entraîneurs de hand ball quel est le nombre de séances journalières qu'il assure ?**

In [128]:
# On récupère la liste des identifiants des entraîneurs de Hand.
entraineursHand = list(db.Sportifs.find(
    { "Sports.Entrainer" : "Hand ball" }, 
    { "_id": 0, "IdSportif": 1 }
))
[e["IdSportif"] for e in entraineursHand]

[1, 2, 3, 7, 151]

In [129]:
# On les utilise pour faire la restriction (avec le `$match`) dans l'aggrégation.
list(db.Gymnases.aggregate([
    { "$unwind": "$Seances" },
    { "$match": { "Seances.IdSportifEntraineur": { "$in": [e["IdSportif"] for e in entraineursHand] }}},
    { "$project" : { "ent": "$Seances.IdSportifEntraineur", "jour": { "$toLower": "$Seances.Jour"}}},
    { "$group": { "_id": { "entraineur": "$ent", "jour": "$jour"}, "nbSeances": { "$sum": 1}}}
]))

[{'_id': {'entraineur': 7, 'jour': 'mardi'}, 'nbSeances': 2},
 {'_id': {'entraineur': 3, 'jour': 'mardi'}, 'nbSeances': 1},
 {'_id': {'entraineur': 3, 'jour': 'dimanche'}, 'nbSeances': 1},
 {'_id': {'entraineur': 3, 'jour': 'vendredi'}, 'nbSeances': 1},
 {'_id': {'entraineur': 3, 'jour': 'samedi'}, 'nbSeances': 1},
 {'_id': {'entraineur': 7, 'jour': 'lundi'}, 'nbSeances': 1},
 {'_id': {'entraineur': 2, 'jour': 'mercredi'}, 'nbSeances': 1},
 {'_id': {'entraineur': 7, 'jour': 'jeudi'}, 'nbSeances': 1},
 {'_id': {'entraineur': 2, 'jour': 'dimanche'}, 'nbSeances': 2},
 {'_id': {'entraineur': 3, 'jour': 'lundi'}, 'nbSeances': 4},
 {'_id': {'entraineur': 1, 'jour': 'lundi'}, 'nbSeances': 6},
 {'_id': {'entraineur': 2, 'jour': 'samedi'}, 'nbSeances': 3},
 {'_id': {'entraineur': 7, 'jour': 'dimanche'}, 'nbSeances': 1},
 {'_id': {'entraineur': 7, 'jour': 'vendredi'}, 'nbSeances': 2},
 {'_id': {'entraineur': 2, 'jour': 'mardi'}, 'nbSeances': 1},
 {'_id': {'entraineur': 3, 'jour': 'jeudi'}, 'nbSeances': 1},
 {'_id': {'entraineur': 7, 'jour': 'mercredi'}, 'nbSeances': 6},
 {'_id': {'entraineur': 7, 'jour': 'samedi'}, 'nbSeances': 2}]

**23. Quels sont les gymnases ayant plus de 15 séances le mercredi ?**

In [130]:
# A priori, il n'y en a aucun.
list(db.Gymnases.aggregate([
    { "$unwind": "$Seances" },
    { "$match": { "Seances.Jour": { "$in": [ "mercredi", "Mercredi" ] }}},
    { "$group": { "_id": { "nom": "$NomGymnase", "ville": "$Ville" }, "nbMercredi": { "$sum": 1 }}},
    { "$match": { "nbMercredi": { "$gte": 15 }}}
]))

[]

**24. Pour chaque gymnase de Montmorency : quel est le nombre de séances journalières de chaque sport propose ?**

**25. Dans quels gymnases et quels jours y a t-il au moins 4 séances de volley ball dans la journée ?**